.txtag {color: #fff;}
.txttund {color: #0E1015;}
.txtboz {color: #8C979E;}
.bgboz {background-color: #F5F5F5;}
.bgtund {background-color: #0E1015;}
.uppercase {text-transform: uppercase;}
.acenter {text-align: center;}
.padx10 {padding: 0 10px;}
body {font-family: Helvetica ;}
h2 {
    font-size: 1.8rem;
}
h2 + p {
    font-size: .8rem;
}
h1 {
    font: 100 1.5rem sans-serif;
    color: #666666;
    margin: 25px 0 0 30px;
}
h3 {font-size: 1.4rem;}
h3 + p {
    font-size: .8rem;
    line-height: 1.5rem;
    padding: 20px 0;
    max-width: 90%;
}
h4 {font-size: 1.5rem;}
h5 {
    font-size: 1.5rem;
    padding: 40px 0;
}
h5 + p { 
    font-size: .8rem;
    padding: 20px 0 40px 0;
}
.article3 p {
    font-size: .8rem;
    line-height: 1.5rem;
    margin: 20px 0;
}
.menu {margin: 40px 0 0 30px;}
.menu ul li a {
    display: inline-block;
    padding: 7px;
    font-size: .8rem;
    color: #4C4C4C;
}
.search input {
    margin: 10px 0 40px 10px;
    letter-spacing: .2rem;
    font-size: .7rem;
    padding: 5px 0;
    outline: 0;
}
.fa-magnifying-glass {color: #3A52BF;}
.header-main {
    background: url('../img/headerbg.jpg') center/cover;
    height: 102vh;
    background-attachment: fixed;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-flex {
    display: flex;
    flex-direction: column;
}
.header-content * {
    margin: 20px 0 0 0;
}
.btn {
    min-width: 200px;
    background-color: #745CF9;
    padding: 20px 0;
    font-size: .9rem;
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
}
.purple:hover {background-color: #4830d1df;}
.white {
    border: 2px solid #fff;
    background-color: #0e101500;
}
.white:hover {background-color: #fff; color: #0E1015;}
.article-img img {max-width: 350px;}
.article-content {padding: 40px 20px;}
.article-mac {padding: 80px 0;}
.wavebg {
    height: 58vh;
    background: url('../img/wavebg.jpg') center/cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.wavebg p {
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 30px 3px;
}
.article3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-img3 {
    width: 100vw;
    margin-top: 20px;
}
.img1 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo1.jpg")center/cover;}
.img2 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo2.jpg")center/cover;}
.img3 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo3.jpg")center/cover;}
.img4 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo4.jpg")center/cover;}
.img5 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo5.jpg")center/cover;}
.img6 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo6.jpg")center/cover;}
.img7 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo7.jpg")center/cover;}
.img8 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo8.jpg")center/cover;}
.img9 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo9.jpg")center/cover;}
.img10 {background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4761554279915091) 13%, rgba(0, 0, 0, 0.24646355124080888) 87%, rgba(0, 0, 0, 1) 100%), url("../img/photo10.jpg")center/cover;}
.galery-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.galery-main {
    display: flex;
    flex-direction: column;
}
.img {
    height: 33.33vh;
    width: 100%;
    margin-bottom: 40px;
}
h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.33vh;
}
.slider {
    height: 70vh;
    background: url('../img/slider.jpg')  center/cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider p {
    padding: 0 20px 20px 20px;
    line-height: 1.5rem;
}
.slider img {
    border-radius: 50%;
    max-width: 100px;
}
.slider span {
    font-weight: 700;
    padding-top: 20px;
}
.logos-article {
    padding: 5% 10%;
}
.logos-article h4 {padding-bottom: 50px;}
.logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logos i {
    font-size: 3rem;
}
.fa-html5 {color: #D84924;}
.fa-css3-alt {color: #2449D8;}
.fa-js {color: #EAD41C;}
.fa-bootstrap {color: #7311EC;}

.last-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}
.last-article button {margin-top: 15px;}

footer {
    padding: 72px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.footer-logo i {
    margin: 15px 5px;
}
/* .bgg{
    background-color: rgb(255, 255, 255);
    color: #fff;
    padding: 10px 0;
    z-index: 2;
} */


@media only screen and (min-width: 768px) {
    nav {
        background-color: #fff;
        position: fixed;
        width: 100%;
        transition: .5s;
        padding: 24px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #e1dfdf;
        z-index: 2;
    }
    .container {
        max-width: 80vw;
        margin: auto;
    }
    .menu ul {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .search input {margin: initial; display: none;}
    .menu {
        display: flex;
        gap: 70px;
        margin: initial;
        align-items: center;
    }
    h2 {font-size: 3.5rem;}
    h1 {margin: initial;}
    .btn-flex {
        flex-direction: initial;
        gap: 10px;
    }
    .header-content {padding: 100px 0 0 0;}
    .flex {
        display: flex;
        align-items: center;
    }
    .flex-reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .vw40 {width: 40vw;}
    .vw60 {width: 60vw;}
    
    .article-img img {max-width: 650px;}
    h3 {font-size: 1.8rem;}
    h3 + p {font-size: .9rem;}
    h4 {font-size: 1.8rem;}
    h4 + p {
        font-size: .9rem;
        width: 80%;
        margin: auto;
    }
    .wavebg p {width: 65%;}
    .article-img3 {
        max-width: initial;
        width: 100%;
    }
    .img1 {background: url("../img/photo1.jpg")center/cover;}
    .img2 {background: url("../img/photo2.jpg")center/cover;}
    .img3 {background: url("../img/photo3.jpg")center/cover;}
    .img4 {background: url("../img/photo4.jpg")center/cover;}
    .img5 {background: url("../img/photo5.jpg")center/cover;}
    .img6 {background: url("../img/photo6.jpg")center/cover;}
    .img7 {background: url("../img/photo7.jpg")center/cover;}
    .img8 {background: url("../img/photo8.jpg")center/cover;}
    .img9 {background: url("../img/photo9.jpg")center/cover;}
    .img10 {background: url("../img/photo10.jpg")center/cover;}

    .galery-main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .img {
        width: 25%;
        position: relative;
    }   
    .h6 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.096) 10%, rgba(0, 0, 0, 0.781) 100%);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    .img:hover .h6 {
        height: 100%;
    }
    .slider p {width: 55%;}
    .logos i {font-size: 4rem; color: #0000009a;transition: .5s;}
    .logos i:hover {scale: 1.1;}
    .fa-html5:hover {color: #D84924;}
    .fa-css3-alt:hover {color: #2449D8;}
    .fa-js:hover {color: #EAD41C;}
    .fa-bootstrap:hover {color: #7311EC;}

    .last-article {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    footer {
        flex-direction: row;
    }
    .footer-logo i {
        margin: 0 5px;
    }
}